/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #5b57e0;
    height: calc(100vh - (65px + 80px));
}
.container{
    height: 100%;
    margin: 65px 80px 65px 70px;
}